<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" sizes="192x192" href="http://www.frre.utn.edu.ar/public/themes/utn/images/utn.ico">
    <link rel="icon" type="image/ico" href="http://www.frre.utn.edu.ar/public/themes/utn/images/utn.ico" />
    <link rel="icon" href="http://www.frre.utn.edu.ar/public/themes/utn/images/utn.ico" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <title>Historial Lote 2</title>
  </head>
  
  <body>

{% include "navbarfix.html" %} 

<br>

<div class="container">
  <main role="main" class="container">
      
      <div class="card bg-dark text-white">
      <div class="card-body"> <h2>Historial Variables Lote 2</h2></div>
  </div>
      <br>
  
    <div class="card">
      <div class="card-body">
         <div class="container-fluid">
     
        {% if object_list %} 
            
            <p>Minimo: 0.003472 - Maximo: 0.008333</p>

            <ul> 
            {% for variable  in object_list %} 
                <li> {{ variable.valor | floatformat:6 }} </li> 
            {% endfor %} 
            </ul> 
          {% else %} 
              <p>No hay variables generadas.</p> 
        {% endif %} 

      </div>  
    </div>
  </div>
        
  </main>
  
      <br>  
</div>

{% include "footer.html" %}

  </body>
</html>