<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inicio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  

</head>
<body style="height:400px">

{% include "navbarfix.html" %}


  <div class="container-fluid" style="margin-top:80px">
  
    <main role="main" class="container">
      <h1 class="mt-5">Introduccion</h1>
      <p class="lead">
        <li>En la parte superior los links "Lote 1" y "Lote 2" son las pantallas para la generacion de las variables de cada lote respectivamente</li>
        <li>La opcion de "Variables Generadas" permite ver las variables que se generaron</li>
        <li>Las variables generadas se guardan en una base de datos SQLite 3</li>
        <br>
        <li>Se utilizo el lenguaje Python 3.5 y el Framework Web Django (ver 1.11)</li>
        <li>El proyecto esta alojado en el hosting de <a href="https://www.pythonanywhere.com">"Python Anywhere"</a>con una cuenta gratuita.</li>
        <li>De esta manera se evitan los instaladores (y la guia para la instalacion), instalacion de librerias externas y es independiente del SO que se utiliza</li>  
      </p>
      
    </main>

  </div>


{% include "footer.html" %}

</body>
</html>

