<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inicio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body style="height:500px">

{% include "navbarfix.html" %}

<div class="container-fluid" style="margin-top:80px">
  <h3>Titulo o Introduccion</h3>
  <p>Aca yo creo que podemos poner como una ayuda , en vez de hacer un manual de usuario </p>
  <li>Aca se puede hacer esto</li>
  <li>Aca esto no anda</li>
</div>

</body>
</html>